@font-face {font-family: dune; src: url('dune.ttf'); }

.jumbotron {
  font-family: dune;
  background-color: #000;
  color: #6D7DA1;
  padding: 20px 80px;
}

.jumbotron img {
  float: right;
  margin-top: -160px;
}

body {
  font-family: comfortaa;
  background-color: #976947;
  color: #D4D4D4;
}

#landscape {
  margin-top: 10px;
  width: 100%;
}

#threePics {
  text-align: center;
}

#smallPic {
  border-style: solid;
  border-color: #000;
  border-width: 5px;
  width: 20vw;
  margin: 20px;
}

footer {
  background-color: #000;
  overflow: hidden;
  //position: fixed;
  width: 100%;
  bottom: 0;
}

h4 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

h4 a {
  color: #6D7DA1;
  font-family: dune;
  font-size: 25px;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  transition: 0.4s;
  margin-bottom: -10px;
}

h4 a:hover {
  background-color: #976947;
}
